/* Global Styles */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}

.center {
    margin: 0 auto;
}

.textCenter {
    text-align: center;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }

.lead {
    font-size: 1rem;
}

.bg-pale {
    background-color:#fffaf4;
}

.btn {
    font-size: 0.6rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3rem;
    font-weight: 500;
    padding: 20px 30px;
    background-color: transparent;
    border: 1px solid #242323;
    color: #242323;
    border-radius: 0;
}

.flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Styling dark elements */
.dark {
    background-color: #242323;
    color: #fffaf4;
}

.darkBtn {
    font-size: 0.6rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3rem;
    font-weight: 500;
    padding: 20px 30px;
    background-color: transparent;
    border: 1px solid #fffaf4;
    color: #fffaf4;
    border-radius: 0;
}

.darkBtn:hover, .darkBtn:focus, .darkBtn:active {
    font-size: 0.6rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3rem;
    font-weight: 500;
    padding: 20px 30px;
    background-color: #fffaf4;
    border: 1px solid #fffaf4;
    color: #242323;
    border-radius: 0;
}

/* Additional Navigation Styles */
#navLogo {
    height: 50px;
    margin-left: 20px;
}

.nav-item a {
    font-size: 0.6rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3rem;
    font-weight: 500;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    text-align: center;
}

/* Jumbotron Hero Styles */

.jumbotron {
    border-radius: 0;
    background-color: #fffaf4;
}

.heroImg img {
    max-width: 100%;
    border: 1px solid #242323;
}

.heroImg, .heroText {
    margin: auto;
}

/* Work Card Styling */

.card {
    border: 1px solid #242323;
}

/* Skills Section Styling */

#skills ul {
    list-style-type: none;
}

#skills ul li:nth-child(1) {
    margin-bottom: 20px;
}

/* Contact/Footer Section Styling */

.contactBtn {
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 70%);
}

.contactBtn:hover {
    box-shadow: none;
}

.footerLink a:hover {
    text-decoration: none;
}

.footerLink:hover {
    transform: scale(1.1);
}