h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

.center {
    margin: 0 auto;
}

.justifyEnd {
    justify-content: flex-end;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }

.lead {
    font-size: 1rem;
}

.bg-pale {
    background-color:#fffaf4;
}

/* Additional Navigation Styles */
#navLogo {
    height: 50px;
    margin-left: 20px;
}

.nav-item a {
    font-size: 0.6rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3rem;
    font-weight: 500;
}

.dark {
    background-color: #242323;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    text-align: center;
}

/* Jumbotron Hero Styles */

.jumbotron {
    border-radius: 0;
    background-color: #fffaf4;
}

.heroImg img {
    max-width: 100%;
    border: 1px solid #242323;
}

.btn {
    font-size: 0.6rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3rem;
    font-weight: 500;
    padding: 20px 30px;
    background-color: transparent;
    border: 1px solid #242323;
    color: #242323;
    border-radius: 0;
}

.heroImg, .heroText {
    margin: auto;
}